In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/albochi/Desktop/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/albochi/Desktop/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/albochi/Desktop/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/albochi/Desktop/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/albochi/Desktop/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /home/albochi/Desktop/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import psycopg2
import pandas as pd

In [5]:
def create_database():
    # connect to default database
    # conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=1472")
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=1472")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE accounts")
    cur.execute("CREATE DATABASE accounts")
    
    # close connection to default database
    conn.close()
    
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=accounts user=postgres password=root")
    cur = conn.cursor()
    
    return cur, conn

In [8]:
import os
import pandas as pd

# Print the current working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

# Specify the file name
file_name = "Wealth-AccountsCountry.csv"

# Construct the full file path
file_path = os.path.join(current_directory, file_name)

# Load the CSV file
AccountsCountry = pd.read_csv(file_path)

Current Working Directory: /home/albochi/Data Engineering Project - 1

In [9]:
# Display the first 10 rows of the DataFrame
AccountsCountry.head(10)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina
2,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,NaN,Armenian dram,2020 (expected),"Demographic and Health Survey, 2015/16",NaN,...,"Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0,2012.0,AM,AM,Armenia,Armenia
3,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,NaN,Australian dollar,2016,NaN,Fiscal year end: June 30; reporting period for...,...,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0,2013.0,AU,AU,Australia,Australia
4,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro area,Euro,2011. Population figures compiled from adminis...,NaN,A simple multiplier is used to convert the nat...,...,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0,2010.0,AT,AT,Austria,Austria
5,AZE,Republic of Azerbaijan,Upper middle income,Europe & Central Asia,IBRD,NaN,New Azeri manat,2019,"Demographic and Health Survey, 2006",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2015,2013.0,2018.0,2012.0,AZ,AZ,Azerbaijan,Azerbaijan
6,BHR,Kingdom of Bahrain,High income,Middle East & North Africa,NaN,NaN,Bahraini dinar,2020 (expected). Population figures compiled f...,"Multiple Indicator Cluster Survey, 2000",NaN,...,NaN,Yes,2010,2013.0,2018.0,2003.0,BH,BH,Bahrain,Bahrain
7,BGD,People's Republic of Bangladesh,Lower middle income,South Asia,IDA,NaN,Bangladeshi taka,2011,"Multiple Indicator Cluster Survey, 2019",Fiscal year end: June 30; reporting period for...,...,"Integrated household survey (IHS), 2016",NaN,2008,2011.0,2015.0,2008.0,BD,BD,Bangladesh,Bangladesh
8,BLR,Republic of Belarus,Upper middle income,Europe & Central Asia,IBRD,NaN,Belarusian rubel,2019,"Multiple Indicator Cluster Survey, 2019",Data before 2015 were adjusted to reflect the ...,...,"Integrated household survey (IHS), 2017",Yes,NaN,2014.0,2018.0,2013.0,BY,BY,Belarus,Belarus
9,BEL,Kingdom of Belgium,High income,Europe & Central Asia,NaN,Euro area,Euro,2011. Population figures compiled from adminis...,NaN,A simple multiplier is used to convert the nat...,...,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0,2009.0,BE,BE,Belgium,Belgium

In [11]:
print(AccountsCountry.columns)

Index(['Code', 'Long Name', 'Income Group', 'Region', 'Lending category',
       'Other groups', 'Currency Unit', 'Latest population census',
       'Latest household survey', 'Special Notes',
       'National accounts base year', 'National accounts reference year',
       'System of National Accounts', 'SNA price valuation',
       'Alternative conversion factor', 'PPP survey years',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [12]:
AccountsCountry_clean = AccountsCountry[['Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit']]

In [13]:
AccountsCountry_clean.head()

  Code Short Name Table Name                  Long Name      Currency Unit
0  ALB    Albania    Albania        Republic of Albania       Albanian lek
1  ARG  Argentina  Argentina         Argentine Republic     Argentine peso
2  ARM    Armenia    Armenia        Republic of Armenia      Armenian dram
3  AUS  Australia  Australia  Commonwealth of Australia  Australian dollar
4  AUT    Austria    Austria        Republic of Austria               Euro

In [19]:
import os
import pandas as pd

# Print the current working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

# Specify the file name
file_name = "Wealth-AccountData.csv"

# Construct the full file path
file_path = os.path.join(current_directory, file_name)

# Load the CSV file
AccountsData = pd.read_csv(file_path)

Current Working Directory: /home/albochi/Data Engineering Project - 1

In [20]:
AccountsData.head()

,Country Name,Country Code,Series Name,Series Code,1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.49E+10,4.34E+10,3.71E+10,3.88E+10,4.22E+10,4.36E+10,...,6.610000e+10,6.810000e+10,6.850000e+10,7.080000e+10,7.160000e+10,7.250000e+10,7.370000e+10,7.57E+10,7.80E+10,8.12E+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,14072.79,13708.99,11794.1,12399.48,13573.26,14118.13,...,2.258200e+04,2.336286e+04,2.359058e+04,2.439397e+04,2.473162e+04,2.509002e+04,2.559371e+04,26326.26,27160.86,28333.68
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3468.858,3355.549,2868.997,3013.391,3259.893,3424.007,...,2.825336e+03,2.889150e+03,2.848523e+03,2.930234e+03,2.954273e+03,2.957420e+03,2.987545e+03,3072.504,3178.417,3312.927
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,6507.931,6353.737,5466.692,5901.072,6492.73,6872.019,...,1.525319e+04,1.578992e+04,1.579854e+04,1.647360e+04,1.681013e+04,1.699138e+04,1.730701e+04,17817.1,18445.94,19245.19
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,4893.006,4737.857,4059.321,4191.445,4536.972,4695.071,...,3.529144e+03,3.613606e+03,3.603694e+03,3.683810e+03,3.696744e+03,3.719608e+03,3.767628e+03,3872.142,3992.188,4161.137

In [21]:
AccountsData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [23]:
print(AccountsData.columns)

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [24]:
# Drop the column '1995 [YR1995]'
AccountsData = AccountsData.drop(['1995 [YR1995]'], axis=1)